@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    overflow: hidden;
    background-color: #F3ECC8;
}

.feed-background{
    background-color: #F3ECC8;
    width: 100vw;
    height: 100vh;
}

._resDeck {
    position: absolute;
    top: 2vh;
    left: 1vw;
}

._menu{
    position: absolute;
    top: 2vh;
    left: 95vw;
}


.chat{
    position: absolute;
    top: 45vh;
    right: 70vw;
}

.like{
    position: absolute;
    top: 45vh;
    left: 70vw;
}

.rewind{
    position: absolute;
    top: 92vh;
    left: 38.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

.skip{
    position: absolute;
    top: 92vh;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.save{
    position: absolute;
    top: 92vh;
    left: 61.2%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.non-chat svg circle {
    transition: r 0.05s, fill 0.1s, stroke 0.1s;
}

.like:hover circle, .skip:hover circle, .chat:hover circle {
    fill: #5075a6;
    stroke: #5075a6;
}

.like:active circle, .skip:active circle, .chat:active circle {
    fill: #3F6699;
    stroke: #3F6699;
    r: 37px;
}

.rewind:hover circle, .save:hover circle {
    fill: #6abcbd;
    stroke: #6abcbd;
}

.rewind:active circle, .save:active circle{
    fill: #78C2C3;
    stroke: #78C2C3;
    r: 37px;

}

#current-pdf{
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 

    height: 84vh;
    width: 65vh;
    display: block;
    outline: none;

    transition: left 0.5s, top 0.5s;
    z-index: 5;
}

#next-pdf{
    visibility: hidden;
    position: absolute;
    top: 44%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 

    height: 82vh;
    width: 65vh;
    display: block;
    outline: none;
    
    z-index: 4;
}

#previous-pdf {
    position: absolute;
    top: -82vh;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 

    height: 82vh;
    width: 65vh;
    display: block;
    outline: none;

    z-index: 6;
}

#close-chat-button {
    position: absolute;
    top: 24px;
    right: -60px;
    cursor: pointer;
    z-index: 99;

    transition: right 0.5s;
}

.sample-chat {
    width: 50vh;
}

.non-chat {
    transition: opacity 0.1s;
    cursor: pointer;
}

.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
