#left-side-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
}

#right-side-navbar {
    margin-right: 25px;
}

#title {
    margin-left: 15px;
    color: #0D1B4C;
    font-family: 'Montserrat';
    font-size: 64px;
    font-weight: 400;
}

#nav-container {
    /* Positioning Properties */
    position: absolute;
    top: 30px;
    width: 100vw;
    height: 64px;

    /* Flex Properties */
    display: flex;
    justify-content: space-between;
    align-items: center;
}